# The syntax is "key = value".
# Modifiers available:
# - shift
# - ctrl
# - alt
# - super

keybind = super+w=close_surface

# Make split
keybind = super+h=new_split:left
keybind = super+j=new_split:up
keybind = super+k=new_split:down
keybind = super+l=new_split:right

# Go to split
keybind = ctrl+alt+h=goto_split:left
keybind = ctrl+alt+j=goto_split:bottom
keybind = ctrl+alt+k=goto_split:top
keybind = ctrl+alt+l=goto_split:right

