[Unit]
Description=EasyEffects

[Service]
Type=simple
ExecStart=/usr/local/bin/easyeffects --gapplication-service
Restart=on-failure

[Install]
WantedBy=default.target
